.one{
    border: 40px aquamarine groove;
    text-align: center;
    background-color: yellowgreen;
}
.one img{
    border: 20px red dashed;
    border-radius: 30px;
    width: 300px;
    height: 300px;
}
.one p{
    border: 15px double green;
}